services:
  mysql-db:
    image: mysql:8.0
    container_name: mysql-local
    restart: always
    environment:
      MYSQL_DATABASE: nom_de_ta_base
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./back/securiteWebBack/
    container_name: spring-api
    ports:
      - "8080:8080"
    depends_on:
      mysql-db:
        condition: service_healthy
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql-db:3306/nom_de_ta_base?createDatabaseIfNotExist=true
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update

  frontend:
    build:
      context: ./front/securiteWebFront/ # Chemin vers le dossier contenant le Dockerfile du front
    container_name: vite-front
    ports:
      - "3000:80" # Accessible sur http://localhost:3000
    depends_on:
      - backend
