services:
  mysql-db:
    image: mysql:8.0
    container_name: mysql-local
    restart: always
    environment:
      MYSQL_DATABASE: nom_de_ta_base
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test:
        ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-proot"]
      interval: 10s # Attendre 10s entre deux tests
      timeout: 10s # Laisser 10s à la commande pour répondre
      retries: 15 # Monter à 15 essais (soit 150 secondes de patience)
      start_period: 40s # Ne même pas essayer de tester pendant les 40 premières secondes
  minio:
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z
    container_name: minio-server
    restart: always
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password123
      MINIO_REGION: us-east-1
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    image: maven:3.9-eclipse-temurin-21
    container_name: spring-api-dev
    volumes:
      - ./back/securiteWebBack/:/app # On monte ton code source
    working_dir: /app
    command: mvn spring-boot:run # On utilise Maven pour lancer l'app
    ports:
      - "8080:8080"
    depends_on:
      mysql-db:
        condition: service_healthy
      minio:
        condition: service_healthy
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql-db:3306/nom_de_ta_base?createDatabaseIfNotExist=true
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - MINIO_INTERNAL_URL=http://minio:9000
      - MINIO_EXTERNAL_URL=http://localhost:9000
      - MINIO_ACCESS_KEY=admin
      - MINIO_SECRET_KEY=password123
      - MINIO_BUCKET_NAME=documents-copro

  frontend:
    image: node:20-alpine
    container_name: vite-front-dev
    working_dir: /app
    volumes:
      - ./front/securiteWebFront/:/app
      # On crée un volume anonyme pour node_modules afin qu'il ne soit pas écrasé par ton PC
      - /app/node_modules
    ports:
      - "3000:5173"
    environment:
      - VITE_API_URL=http://localhost:8080
    # On ajoute "npm install" avant le "npm run dev"
    command: sh -c "npm install && npm run dev -- --host"
    depends_on:
      - backend

  # --- SCRIPT AUTO-CREATION BUCKET ---
  createbuckets:
    image: minio/mc
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c "
       /usr/bin/mc alias set myminio http://minio:9000 admin password123;

      /usr/bin/mc mb myminio/documents-copro;
      /usr/bin/mc anonymous set public myminio/documents-copro;
      exit 0;
      "

volumes:
  minio_data:
  mysql_data: # <--- Déclarez
