version: "3.9"

services:
  backend:
    build: .
    ports:
      - "8080:8080"
    environment:
      MINIO_URL: "http://host.docker.internal:9000"
      MINIO_ACCESS_KEY: "admin"
      MINIO_SECRET_KEY: "password123"
      MINIO_BUCKET_NAME: "documents-copro"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - minio

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: "admin"
      MINIO_ROOT_PASSWORD: "password123"
    volumes:
      - minio_data:/data

volumes:
  minio_data:
