server:
  port: ${GATEWAY_PORT:8082}

app:
  param: ${APP_PARAM_NAME:app}
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:3000,http://localhost:3001}
  redirect:
    default: ${APP_REDIRECT_DEFAULT:http://localhost:3000/}
    appA: ${APP_REDIRECT_APPA:http://localhost:3000/}
    appB: ${APP_REDIRECT_APPB:http://localhost:3001/}

spring:
  application:
    name: gateway-bff

  session:
    store-type: redis
    cookie:
      name: ${GATEWAY_SESSION_COOKIE_NAME:MYAPP_SESSION}
      http-only: true
      same-site: ${GATEWAY_SESSION_COOKIE_SAMESITE:LAX}
      secure: ${GATEWAY_SESSION_COOKIE_SECURE:false}

  data:
    redis:
      host: ${REDIS_HOST:redis}
      port: ${REDIS_PORT:6379}

  security:
    oauth2:
      client:
        registration:
          gateway-client:
            provider: monolith
            client-id: ${OAUTH2_CLIENT_ID:gateway-client}
            client-secret: ${OAUTH2_CLIENT_SECRET:secret-secret}
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope: ${OAUTH2_SCOPES:openid,profile,email,offline_access}
        provider:
          monolith:
            issuer-uri: ${OAUTH2_ISSUER_URI:http://auth.local:8080}

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: appa-api
              uri: ${APPA_BASE_URI:${MONOLITH_BASE_URI:http://backend:8080}}
              predicates:
                - Path=/${APPA_PATH_PREFIX:appA}/api/**
              filters:
                - TokenRelay
                - RewritePath=/${APPA_PATH_PREFIX:appA}/api/(?<segment>.*), /api/${segment}

        # Future AppB example:
        # - id: appb-api
        #   uri: ${APPB_BASE_URI:http://appb:8080}
        #   predicates:
        #     - Path=/appB/api/**
        #   filters:
        #     - TokenRelay
        #     - RewritePath=/appB/api/(?<segment>.*), /api/${segment}

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG
    org.springframework.web: INFO
    # Pour voir chaque requête qui entre dans la Gateway
    org.springframework.web.server.adapter.HttpWebHandlerAdapter: TRACE
    # Pour voir si la route est trouvée
    org.springframework.cloud.gateway: TRACE
    org.springframework.security.web.server.csrf.CsrfWebFilter: DEBUG
    org.springframework.security.web.server.authorization.AuthorizationWebFilter: DEBUG
